import sentry_sdk
from sentry_sdk.integrations.django import DjangoIntegration
from .settings import *

SMS_CODE_ACTIVE = False
ESKIZ_TOKEN = ''
MAPS_API_KEY = ''

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'crmneo',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': 5432,
    }
}

sentry_sdk.init(
    dsn=os.environ.get('SENTRY_URL', ''),
    integrations=[DjangoIntegration()],
    send_default_pii=True
)

FRONTEND_DOMAIN = 'https://app.crmneo.com'

EMAIL_HOST = 'smtp.sendgrid.net'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'apikey'
EMAIL_HOST_PASSWORD = ''  # SendGrid API Key
SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = ''


STATIC_ROOT = '/static'
MEDIA_ROOT = '/uploads'
