@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --globalColor: #23b4a1;
    --globalFont: #2e384c;
    --globalBg: #f2f4f3;
    --globalBgDark: #2a2525;
    --globalBgDarkHover: rgb(65, 64, 64);
    --globalColorHover: rgba(35, 180, 161, 0.66);
}

* {

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    border: none;
    font-size: 16px;
    min-width: 100px;
    padding: 0 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.button__primary {
    background-color: var(--globalColor);
    color: var(--globalBg);
}

.button:hover {
    opacity: .8;
}

.button:active {
    transform: scale(.98);
}

.button:focus {
    outline: none;
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status_info {
    background-color: #00a1d3;
    box-shadow: 0 0 10px 1px #00a1d3;
}

.status_success {
    background-color: #00a100;
    box-shadow: 0 0 10px 1px #00a100;
}

.status_grey {
    background-color: #636363;
    box-shadow: 0 0 10px 1px #636363;

}

.help {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    animation: help .5s 1;
    z-index: 2;

}

.help_success {
    color: var(--globalColor);
    background-color: rgb(221, 255, 235);
}

.help_error {
    color: #720015;
    background-color: rgb(255, 159, 174);
}