.auth {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth__box {
    text-align: center;
    width: 30%;
    background-color: var(--globalBgDark);
    color: var(--globalBg);
    padding: 50px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.auth__box h1 {
    font-size: 40px;
}

.auth__input {
    padding: 13px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.auth__input:focus {
    outline: none;
}

.auth__button {
    border-radius: 10px;
    background-color: var(--globalColor);
    color: var(--globalBg);
    gap: 10px;
}

.auth__timer {
    font-size: 30px;
    font-weight: 500;
}


.auth__code {
    text-align: center;
}

.auth__code::placeholder {
    text-align: left;
}

@keyframes help {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



