.layout {
    display: flex;
    min-height: 100vh;
    color: var(--globalFont);
    background-color: var(--globalBg);
}


.layout__sidebar {
    width: 20%;
}

.layout__content {
    width: 80%;
}


.sidebar {
    position: fixed;
    width: 20%;
    background-color: var(--globalBgDark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    color: var(--globalBg) !important;
    justify-content: space-between;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar__account {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__avatar img {
    width: 30%;
    border-radius: 50%;
}

.sidebar__username {
    text-align: center;
    font-size: 33px;
    cursor: pointer;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
}

.sidebar__item {
    font-size: 18px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    color: var(--globalBg);
}

.sidebar__item:hover {
    background-color: var(--globalBgDarkHover);
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-trigger .button {
    cursor: pointer;
    background-color: var(--globalColor);
    color: white;
}

.dropdown-menu {
    position: absolute;
    z-index: 2;
    display: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-top: 2px;
    border-radius: 10px;

}

.active {
    display: block;
}


.dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    clear: both;
    color: var(--globalFont);
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;

}
.dropdown-item:hover {
    background-color: #e3e3e3;
}

.icon.is-small {
    font-size: 1rem;
    height: 1.25em;
    width: 1.25em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-bottom: .5px solid var(--globalBgDark);

}

.navbar__start, .navbar__end {
    display: flex;
    gap: 20px;
}

.navbar__select select, .navbar__select, .navbar__button {
    background-color: var(--globalColor);
    color: var(--globalBg);
}

.navbar__select {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 10px;
}

.navbar__select select:focus {
    outline: none;
}

.navbar__button {
    border-radius: 10px;
    gap: 10px;

}

.navbar__item {
    text-decoration: none;
}

.navbar__button-group {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.navbar__button_active {
    opacity: .8;
}

.navbar__button-group button {
    border-radius: 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.list .list__error {
    text-align: center;
    color: crimson;
    font-weight: 400;
}

.list__item {
    padding: 20px 30px;
    box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list__item:hover {
    transform: scale(1.0001);
}

.list__content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.list__content svg {
    transition: .2s;
    cursor: pointer;
}

.list__content svg:hover {
    transform: scale(1.2);
}

.list__content h1 {
    font-size: 18px;
}

.list__status {
    display: flex;
    align-items: center;
    gap: 20px;
}

.list__status h1 {
    font-size: 20px;
}

.list__button {
    border-radius: 10px;
    background-color: var(--globalBgDark);
    color: var(--globalBg);
    display: flex;
    gap: 8px;
}

.map {
    display: flex;
    flex-direction: column;
}

.map__container {
    overflow: hidden;
    width: 100%;
    height: 88vh;
    z-index: 0;
}

.map__content {
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 30px;
    background-color: var(--globalBg);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.48);
    font-weight: 500;
}

.map__status {
    display: flex;
    align-items: center;
    gap: 15px;
}

.leaflet-bottom, .leaflet-right {
    display: none;
}











