.map__container_add {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.leaflet-top, .leaflet-left {
    display: flex;
}

.leaflet-draw {
    display: flex;
    margin-left: 0 !important;
}

.leaflet-draw-toolbar {
    margin-top: 0 !important;
    margin-left: 10px;
    display: flex;
    border: none !important;
}

.leaflet-control-zoom-in {
    border-radius: 8px !important;
    background: #23b4a1 !important;
}

.leaflet-control-zoom-in:hover {
    background: #14665b !important;
}

.leaflet-control-zoom-in span {
    color: white;
}

.leaflet-control-zoom-out {
    border-radius: 8px !important;
    background: #23b4a1 !important;
}

.leaflet-control-zoom-out:hover {
    background: #14665b !important;
}


.leaflet-control-zoom-out span {
    color: white;
}

.leaflet-control-zoom {
    border: none !important;
    gap: 10px;
    display: flex;
}

.leaflet-control-container {
    position: absolute;
    bottom: 55px;
}

.addTree_beck {
    cursor: pointer;
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 10px;
    padding: 8px 16px;
    border-radius: 12px;
    background: #23b4a1;
    color: white;
    border: none;
    text-decoration: none;
}

.addTree_beck:hover {
    background: #14665b;
}

.leaflet-draw-draw-polygon {
    border-radius: 8px !important;
    background: #23b4a1 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.leaflet-draw-draw-polygon:hover {
    background: #14665b !important;
}

.leaflet-draw-draw-polygon:after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(138deg) brightness(102%) contrast(103%);
    content: '';
    display: inline-block;
    background-image: url("https://www.svgrepo.com/show/523008/ruler-cross-pen.svg");
    background-position: center;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.leaflet-draw-draw-rectangle span {
    color: white !important;
}

.leaflet-draw-actions {
    top: -30px !important;
    left: 10px !important;
}

.leaflet-draw-actions .leaflet-draw-actions-top {
    top: -30px !important;
}

.leaflet-draw-actions li a {
    border-radius: 4px !important;
}

.leaflet-draw-edit-edit {
    border-radius: 8px !important;
    background: #23b4a1 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.leaflet-draw-edit-edit:hover {
    background: #14665b !important;
}


.leaflet-draw-edit-edit:after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(138deg) brightness(102%) contrast(103%);
    content: '';
    display: inline-block;
    background-image: url("https://www.svgrepo.com/show/523598/pen.svg");
    background-position: center;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.leaflet-draw-edit-remove {
    border-radius: 8px !important;
    background: #23b4a1 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 10px !important;
}

.leaflet-draw-edit-remove:hover {
    background: #14665b !important;
}

.leaflet-draw-edit-remove:after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(138deg) brightness(102%) contrast(103%);
    content: '';
    display: inline-block;
    background-image: url("https://www.svgrepo.com/show/522979/paper-bin.svg");
    background-position: center;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.box-status {
    border-radius: 8px;
    padding: 8px 12px;
    z-index: 999;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #23b4a1;
    display: flex;
    gap: 8px;
    color: white;
}

.box-status input {
    border: none;
    border-radius: 8px;
    padding: 0 0 0 8px;
}

.box-status input:focus {
    outline: none;
}

.box-status button {
    background: white;
    padding: 2px 8px;
    border: none;
    border-radius: 4px;
}


.box-status button:hover{
    background: #14665b;
    color: white;
}